@import url(https://fonts.googleapis.com/css?family=Cardo);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

body{
  font-family: 'Josefin Sans', sans-serif;
  font-size:16px;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Cardo', serif;
}

a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}

/* Nav */
.navbar.navbar-default{
  background-color: #212D45;
  border-color: #212D45;
  border-radius: 0;
  margin-bottom:0;
}

.navbar-default .navbar-brand {
    color:#ffffff;
    font-size:20px;
}


.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color:#ffffff;
}

.navbar-default .navbar-nav > li > a { 
    color: #ffffff;
    font-size:18px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #ffffff;
}



/* Intro */

#intro,
#intro-dashboard{
  height:400px;
  background-color:#4B66A4;
  color:#ffffff;
}

.intro-text{
  font-size:72px;
  margin-top: 140px;
  
}
.sign-up,
.view-poll,
.go-dash{
  font-size:16px;
  width:90px;
}

/* auth */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 40px auto 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#register,
#login{
  min-height: 440px;
}


 /* service */
 .fa-bar-chart,
 .fa-globe,
 .fa-link{
  font-size: 75px;
  color:#4B66A4;
 }

 #service p{
   font-size: 20px;
 }

 #service,
 #dashboard{
   background-color: #f2f2f2;
 }

 .call-to-action{
  margin-top: 40px;
 }
  #home,
  #dashboard,
  #user-dashboard,
  #share{
   min-height: 440px;
 }

 .btn-create{
   margin-top:10px;
 } 

 #service{
    min-height:500px;
 }

 #home-result,
 #share-result{
  min-height:300px;
 }
 
 #dashboard p{
   font-size: 18px;
 }

 #intro-dashboard.intro-text{
   font-size:20px;
 }

 #user-dashboard{
   padding-top: 40px;

 }

 .my-polls,
 .my-dash{
  margin-top:80px;
 }

 .edit{
   margin-right: 5px;
 }

 .delete{
   cursor:pointer;
 }
 
 .dashboard-panel{
   margin-top:30px;
 }

 .close-choice{
    cursor: pointer; 
    cursor: hand;
 }

 .list-group-item>.editor {
    float: right;
}

.new-choice{
  margin-top:10px;
}

.share{
  font-size: 16px;
}
.share-btn{
  margin-right: 5px;
  cursor: pointer;
}

/* footer */
 #footer{
    background-color: #212D45;
    min-height:120px;
    color:#ffffff;
    font-size:16px;
 }

 .copyright{
   margin-top:20px; 
 }

 /* media queries */

 @media (max-width: 320px) {
    #home-result,
    #share-result{
       padding-top: 60px;
    }
}

@media (max-width: 380px) {
   .dashboard-text{
      font-size:50px;
    }
}  